* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none !important;

  ::-webkit-scrollbar {
    width: 0px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #1b1b1b;
}

a {
  color: inherit;
  text-decoration: none;
}

.wink-wame-logo {
  z-index: 10 !important;
  margin-left: 10px;
}

.cover-image {
  width: 100% !important;
  height: max-content !important;
}
